<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Widgets</b>
      </a>
    </p>

    <!--plus-->
    <p class="navbar-text pull-right">
      <a href="widget-chooser.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid">

  <ul class="widget-list">

    <!--header widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <h1><b>GIZMODO</b></h1>
          <div class = "widget-list-toolbar">
            <a href = "widget-heading.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--header widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <h3><b>US Senate Reaches Compromise on Emergency Zika Funding.</b></h3>
          <div class = "widget-list-toolbar">
            <a href = "widget-heading.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--image widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <img class="img-responsive" src="../../uploads/image_1.jpg">
          <div class = "widget-list-toolbar">
            <a href = "widget-image.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--header widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <h4><b>President Trump slammed Facebook and ‘fake news’ on Twitter Wednesday, accusing media outlets and the social media network of “collusion.”</b></h4>
          <div class = "widget-list-toolbar">
            <a href = "widget-heading.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--header widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <h3><b>Son of Killer Clown’s Victim Welcomes News of Cold-Case Arrest</b></h3>
          <div class = "widget-list-toolbar">
            <a href = "widget-heading.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--youtube widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <img class="img-responsive" src="../../images/video_1.jpg">
          <div class = "widget-list-toolbar">
            <a href = "widget-youtube.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

    <!--header widget-->
    <li>
      <div class="row">
        <div class="widget-list-item">
          <h4><b>The US president accused the social network of "collusion" on Twitter, branding it "anti-Trump".He made the same claim against the New York Times and the Washington Post Facebook will shortly hand over 3,000 political adverts to congressional investigators probing alleged Russian meddling in the US election.The site believes the ads were probably purchased by Russian entities during and after the 2016 presidential contest.</b></h4>
          <div class = "widget-list-toolbar">
            <a href = "widget-heading.html">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class = "glyphicon glyphicon glyphicon-align-justify"></span>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a href="#" class="navbar-link">
        <span class="glyphicon glyphicon-triangle-right nav-default-align"></span>
      </a>
    </p>

    <p class="navbar-text pull-left">
      <a href="#" class="navbar-link">
        <span class="glyphicon glyphicon-eye-open nav-default-align"></span>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>

</body>
</html>
