
<nav class="navbar navbar-default navbar-fixed-top nav-background">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-foreground"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-foreground">Websites</b>
      </a>
    </p>

    <!--plus-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user','website','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus nav-foreground"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container page-margin">
  <ul>
    <li *ngFor="let website of websites">
      <div class="row website-list-item">
        <div class="col-xs-10">
          <a [routerLink]="['/user', 'website', website._id, 'page']">
            <span>{{website.name}}</span>
          </a>
        </div>
        <div class="col-xs-2">
          <a [routerLink]="['/user', 'website', website._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom nav-background">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-foreground"></span>
      </a>
    </p>

  </div>
</nav>
