
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user','website',websiteId,'page',pageId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Widget Edit</b>
      </a>
    </p>

    <!--tick-->
    <p class="navbar-text pull-right">
      <a (click)="updateWidget()" class="navbar-link">
        <span class="glyphicon glyphicon-ok nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid page-margin">
  <div>
    <form>

      Text
      <input name="text" [(ngModel)]="widget.text" class="form-control"/>

      Rows
      <input name="rows" [(ngModel)]="widget.rows" class="form-control" type="number"/>

      <label for="wname">Name</label>
      <div>
        <input [(ngModel)]="widget.name"
               type="text"
               class="form-control"
               id="wname"
               name="wname"
               required
               autofocus
               placeholder="Name">
        <span class="help-block" *ngIf="!wname.valid && wname.touched">
            Please enter a name for the widget
        </span>
      </div>

      Placeholder
      <input name="placeholder"
             [(ngModel)]="widget.placeholder"
             class="form-control" required/>
      <p></p>
      <div class="input-group">
        <input type="text"
               readonly
               value="Formatted"
               class="form-control"/>
        <span class="input-group-addon">
          <input name="formatted"
                 [(ngModel)]="widget.formatted"
                 type="checkbox"/>
        </span>
      </div>
      <p></p>


      <div>
        <button class="btn btn-danger btn-block" (click)="deleteWidget()">
          Delete
        </button>
      </div>

    </form>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
