
<div class="container up-down-margin">

  <br>

  <h4 class="align-right">
    - by Purva Kamat
  </h4>

  <h1>
    Web Development : CS 5610
  </h1>
  <br/>

  <div>

    <div>
      <h3>ASSIGNMENT</h3>

      <br/>
      <table style="width:100%">
        <tr>
          <td>Description</td>
          <td>
            <p>
              The Website we have built throughout the assignments allows users to create and use online,
              mobile friendly, Websites. It is a Website to create Websites. We will refer to those users creating
              the Websites as developers. Users that visit the Websites created by the developers will be
              referred to as end users. Only developers can create and modify the Websites. End users can
              not modify the Websites, they can only interact with them. The Website is be built using MEAN stack
              using the four underpinning technologies MongoDB, Express, AngularJS 4, and Node.js.
            </p>
          </td>
        </tr>
      </table>
    </div>

    <br/>

    <div>
      <table style="width:100%">
        <tr>
          <th>Assignment</th>
          <th>Description</th>
          <th>Comments</th>
          <th>Code</th>
        </tr>
        <tr>
          <td><a href="test">Assignment 1</a></td>
          <td><a href="https://docs.google.com/document/d/1rxZnIRpwCzqQVJwMm7HLfKHvXiI_GLpcfBjm0ymmWXI/edit">link</a></td>
          <td>Test if MEAN stack setup works</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/8170684b0874ba93368079892536f5e37dd01f29">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="../../../assets/index.html">Assignment 2</a></td>
          <td><a href="https://docs.google.com/document/d/1qrbAucugQ4JrEepJqrLfyfNYtpxAk8mqhhMFEtz--3c/edit">link</a></td>
          <td>Design wireframes for client side application in HTML</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/ba76fb6e5b870e7b663dc63bf29f516472c18056">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="login">Assignment 3</a></td>
          <td><a href="https://docs.google.com/document/d/1weLoMKGV1ALlpNUk6oVPUFRC1MX7wqyt9kRZ9hedZxA/edit">link</a></td>
          <td>Design client side application using the previously designed wireframes in Angular 4</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/064281049b40e0849431a38b74dc8027dd517e8f">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="login">Assignment 4</a></td>
          <td><a href="https://docs.google.com/document/d/1pjKYCa2rFzeyJPBE2PisofvxiHeqiDdSApYPEpzuO54/edit">link</a></td>
          <td>Design server side application using express and mock data</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/22a07aa3b3ad08e88d81eb48e708e99ab830a98d">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="login">Assignment 5</a></td>
          <td><a href="https://docs.google.com/document/d/1RELEtPM7DzZ6F5YQp4llf_sMSrbEUKXO4u-nyCR00F0/edit">link</a></td>
          <td>Integrate mongoDB (using mongoose) into the server for permanent storage</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/10a07dbc8f79550b402373cef833b2bb64031608">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="login">Assignment 6</a></td>
          <td><a href="https://docs.google.com/document/d/1yW3vMQGWD3rK16wfZX_S-NMvE_VLaktYdw3NnOawdJk/edit">link</a></td>
          <td>Implement Login, Register and Login with Facebook credentials using Passport JSs</td>
          <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/e09fa36c83fd51103355f1b0e9d69e9f8a7ff286">GitHub</a></td>
        </tr>
      </table>
    </div>
  </div>

  <br/>

  <div>
    <h3>PROJECT</h3>
    <br/>
    <table style="width:100%">
      <tr>
        <td><a href="https://nushuttle.herokuapp.com/"><p class="all-round-margin">NU Shuttle</p></a></td>
        <td>
          <p>Northeastern University has a shuttle service from dusk to dawn which can be availed by all students to get dropped to their homes within a 2 mile radius of the University. This service is called the RED EYE. The shuttle leaves from Snell Library every 20 minutes and students queue up in front of the library to catch the next shuttle. This becomes difficult when the weather conditions in Boston worsen and students have to wait in queue in the chilling winter. Also, the drivers of the van manually take down the addresses of the drop-off locations from the students and decide on the shortest route for the shuttle. Since this is manually calculated, it may not always be the shortest path and can cause delays.
          In our project we have solved this problem by creating a virtual queue service which will allow students to queue up for the shuttle without having to physically stand in line. </p>
          <a href="https://docs.google.com/document/d/1V2D7QPzvW_5PY4p05FszcATrA_Ix4-GcniUJdDjjmDU/edit">more...</a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Link to Project</p></td>
        <td>
          <a href="https://nushuttle.herokuapp.com/"><p class="all-round-margin">https://nushuttle.herokuapp.com/</p></a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Code base</p></td>
        <td>
          <a href="https://github.com/purvakamat/NUShuttle">
            <p class="all-round-margin">https://github.com/purvakamat/NUShuttle</p>
          </a>
        </td>
      </tr>
      <tr>
        <td><p class="all-round-margin">Screenshots</p></td>
        <td class="center">
          <div class="row pull-center">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/login.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/add-queue.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/queue.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/my-ride1.jpeg">
          </div>

          <div class="row pull-center">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/my-ride2.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/profile.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/driver-dashboard.jpeg">
            <img width="200px" max-height="300px" class="img-responsive image-style pull-left" src="../../../assets/images/driver-ride.jpeg">
          </div>
        </td>
      </tr>


      <tr>
        <td><p class="all-round-margin">Description Video</p></td>
        <td>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/ckEzgGBee4s"
                    frameborder="0"
                    gesture="media"
                    allow="encrypted-media"
                    allowfullscreen></iframe>
        </td>
      </tr>

    </table>
  </div>
</div>

