
<div class="container">

  <br>

  <h4 class="align-right">
    - by Purva Kamat
  </h4>

  <h1>
    Web Development : CS 5610
  </h1>


  <div>
    <h3>ASSIGNMENTS</h3>

    <table style="width:100%">
      <tr>
        <th>Assignment</th>
        <th>Comments</th>
        <th>Code</th>
      </tr>
      <tr>
        <td><a href="test">Assignment 1</a></td>
        <td>Test if MEAN stack setup works</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/8170684b0874ba93368079892536f5e37dd01f29">GitHub</a></td>
      </tr>
      <tr>
        <td><a href="../../../assets/index.html">Assignment 2</a></td>
        <td>Design wireframes for client side application in HTML</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/ba76fb6e5b870e7b663dc63bf29f516472c18056">GitHub</a></td>
      </tr>
      <tr>
        <td><a href="login">Assignment 3</a></td>
        <td>Design client side application using the previously designed wireframes in Angular 4</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/064281049b40e0849431a38b74dc8027dd517e8f">GitHub</a></td>
      </tr>
      <tr>
        <td><a href="login">Assignment 4</a></td>
        <td>Design server side application using express and mock data</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/22a07aa3b3ad08e88d81eb48e708e99ab830a98d">GitHub</a></td>
      </tr>
      <tr>
        <td><a href="login">Assignment 5</a></td>
        <td>Integrate mongoDB (using mongoose) into the server for permanent storage</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/10a07dbc8f79550b402373cef833b2bb64031608">GitHub</a></td>
      </tr>
      <tr>
        <td><a href="login">Assignment 6</a></td>
        <td>Implement Login, Register and Login with Facebook credentials using Passport JSs</td>
        <td><a href="https://github.com/purvakamat/webdev-kamat-purva/tree/e09fa36c83fd51103355f1b0e9d69e9f8a7ff286">GitHub</a></td>
      </tr>
    </table>
  </div>

  <div>
    <h3>PROJECT</h3>
    <table style="width:100%">
      <tr>
        <td><a href="https://nushuttle.herokuapp.com/">NU Shuttle</a></td>
        <td>
          <p>Northeastern University has a shuttle service from dusk to dawn which can be availed by all students to get dropped to their homes within a 2 mile radius of the University. This service is called the RED EYE. The shuttle leaves from Snell Library every 20 minutes and students queue up in front of the library to catch the next shuttle. This becomes difficult when the weather conditions in Boston worsen and students have to wait in queue in the chilling winter. Also, the drivers of the van manually take down the addresses of the drop-off locations from the students and decide on the shortest route for the shuttle. Since this is manually calculated, it may not always be the shortest path and can cause delays.
          In our project we have solved this problem by creating a virtual queue service which will allow students to queue up for the shuttle without having to physically stand in line. </p>
        </td>
      </tr>
    </table>
  </div>


</div>

