<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website', websiteId, 'page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Edit Page</b>
      </a>
    </p>

    <!--tick-->
    <p class="navbar-text pull-right">
      <a class="navbar-link" (click)="updatePage()" [disabled] = "!f.valid">
        <span class="glyphicon glyphicon-ok nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid page-margin">
  <div class="scroll-vertical">
    <form #f="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"
               id="name"
               placeholder="Page Name"
               required
               type="text"
               name="p_name"
               [(ngModel)]='page.name'>
        <span class="help-block" *ngIf="!p_name.valid && p_name.touched">
            Please enter a name for the page
        </span>
      </div>

      <div class="form-group">
        <label for="descr">Description</label>
        <input class="form-control" id="descr" placeholder="Page Description" type="text" name="p_descr" [(ngModel)]='page.description'>
      </div>

      <div>
        <button class="btn btn-danger btn-block" (click)="deletePage()">Delete</button>
      </div>

    </form>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
