<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Pages</b>
      </a>
    </p>

    <!--plus-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', 'website', websiteId, 'page', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container page-margin">
  <ul>
    <li *ngFor="let page of pages">
      <div class="row website-list-item">
        <div class="col-xs-10">
          <a [routerLink]="['/user', 'website', websiteId, 'page', page._id, 'widget']">
            <span>{{page.name}}</span>
          </a>
        </div>
        <div class="col-xs-2">
          <a [routerLink]="['/user', 'website', websiteId, 'page', page._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
