
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Widget Edit</b>
      </a>
    </p>

    <!--tick-->
    <p class="navbar-text pull-right">
      <a class="navbar-link" (click)="updateWidget()"
         [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']">
        <span class="glyphicon glyphicon-ok nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid page-margin">
  <div class="scroll-vertical">
    <form>

      <div class="form-group">
        <label for="widgetname">Name</label>
        <input  [(ngModel)]="widget.name" name="wname"
                class="form-control" id="widgetname" placeholder="Widget Name" type="text">
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <input  [(ngModel)]="widget.text" name="wtext"
                class="form-control" id="text" placeholder="Widget Text" type="text">
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <input [(ngModel)]="widget.size" name="wsize"
               class="form-control" id="size" placeholder="Size" type="text">
      </div>

      <div>
        <button class="btn btn-danger btn-block"
                [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']"
                (click)="deleteWidget()">
          Delete
        </button>
      </div>

    </form>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
