
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user','website',websiteId,'page',pageId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Choose Widget</b>
      </a>
    </p>

  </div>
</nav>


<div class="container page-margin">
  <ul>

    <li>
      <div class="row website-list-item">
        <div class="col-xs-12">
          <a (click)="createWidget('HEADING')">
            <span>Header</span>
          </a>
        </div>
      </div>
    </li>

    <!--<li>-->
      <!--<div class="row website-list-item">-->
        <!--<div class="col-xs-12">-->
          <!--<a (click)="createWidget('LABEL')">-->
            <!--<span>Label</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

    <li>
      <div class="row website-list-item">
        <div class="col-xs-12">
          <a (click)="createWidget('HTML')">
            <span>HTML</span>
          </a>
        </div>
      </div>
    </li>

    <li>
      <div class="row website-list-item">
        <div class="col-xs-12">
          <a (click)="createWidget('TEXT')">
            <span>Text</span>
          </a>
        </div>
      </div>
    </li>

    <!--<li>-->
      <!--<div class="row website-list-item">-->
        <!--<div class="col-xs-12">-->
          <!--<a (click)="createWidget('LINK')">-->
            <!--<span>Link</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

    <!--<li>-->
      <!--<div class="row website-list-item">-->
        <!--<div class="col-xs-12">-->
          <!--<a (click)="createWidget('BUTTON')">-->
            <!--<span>Button</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

    <li>
      <div class="row website-list-item">
        <div class="col-xs-12">
          <a (click)="createWidget('IMAGE')">
            <span>Image</span>
          </a>
        </div>
      </div>
    </li>

    <li>
      <div class="row website-list-item">
        <div class="col-xs-12">
          <a (click)="createWidget('YOUTUBE')">
            <span>YouTube</span>
          </a>
        </div>
      </div>
    </li>

    <!--<li>-->
      <!--<div class="row website-list-item">-->
        <!--<div class="col-xs-12">-->
          <!--<a (click)="createWidget('DATATABLE')">-->
            <!--<span>Data Table</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

    <!--<li>-->
      <!--<div class="row website-list-item">-->
        <!--<div class="col-xs-12">-->
          <!--<a (click)="createWidget('REPEATER')">-->
            <!--<span>Repeater</span>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

  </ul>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
