/* You can add global styles to this file, and also import other style files */

input {
  margin-bottom: 6px;
}

.page-margin{
  padding-top: 75px;
  padding-bottom: 75px;
}

.nav-background {
  background:#317CB5;
}

.nav-foreground {
  color: white;
  vertical-align: middle;
}

.nav-default-align {
  vertical-align: middle;
}

.pull-left{
  margin-right: 3pt;
}

.pull-right{
  margin-right: 3pt;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; }

.website-list-item{
  font-weight: bold;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  color:#317CB5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.remove-padding{
  padding: 0pt;
}

.remove-padding-left{
  padding-left: 0pt;
}

.scroll-vertical {
  overflow-y: auto;
  height: 100%;
}

.widget-list-toolbar {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
}

.widget-list-item{
  position: relative;
  vertical-align: middle;
}

.widget-list{
  margin-left: 15pt;
  margin-right: 15pt;
}

.error-message{
  margin-top: 15pt;
  margin-bottom: 15pt;
}

