
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user','website',websiteId,'page',pageId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left nav-default-align"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="nav-default-align">Widget Edit</b>
      </a>
    </p>

    <!--tick-->
    <p class="navbar-text pull-right">
      <a (click)="updateWidget()" class="navbar-link">
        <span class="glyphicon glyphicon-ok nav-default-align"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid page-margin">
  <div class="scroll-vertical">
    <form>

      <div class="form-group">
        <label for="wname">Name</label>
        <input [(ngModel)]="widget.name"
               name="wname"
               class="form-control"
               id="wname"
               placeholder="Widget Name"
               required
               autofocus
               type="text">
        <!--<span class="help-block" *ngIf="!wname.name == ''">
            Please enter a name for the widget
        </span>-->
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <input [(ngModel)]="widget.text" name="wtext"
               class="form-control" id="text" placeholder="Widget Text" type="text">
      </div>

      <div class="form-group">
        <label for="width">URL</label>
        <input [(ngModel)]="widget.url" name="wurl" class="form-control" id="url" placeholder="URL" type="url">
      </div>

      <div class="form-group">
        <label for="width">Width</label>
        <input [(ngModel)]="widget.width" name="wwidth" class="form-control" id="width" placeholder="Width" type="text">
      </div>

      <div class="form-group">
        <!--<label for="upload">Upload</label>
        <input class="form-control" id="upload" placeholder="No file chosen" type="file">
        <a class="btn btn-primary btn-block" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
          Upload Image
        </a>-->
        <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
          <input  name="myFile"   type="file" class="form-control"/>
          <input  name="width" value="{{widget.width}}"   style="display: none"/>
          <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
          <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
          <input  name="pageId" value="{{pageId}}"   style="display: none"/>
          <input  name="userId" value="{{userId}}"   style="display: none"/>
          <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
          <br/>
        </form>
      </div>

      <div>
        <button class="btn btn-primary btn-block" (click)="searchFlickr()">
          Delete
        </button>
      </div>

      <div>
        <button class="btn btn-danger btn-block" (click)="deleteWidget()">
          Delete
        </button>
      </div>

    </form>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user nav-default-align"></span>
      </a>
    </p>
  </div>
</nav>
